.header {
  display: flex;
  justify-content: center;
}

.form {
  width: 500px;
}

.input {
  width: 60%;
  padding: 12px 20px;
  margin-right: 5px;
}

.error {
  display: flex;
  color: red;
  font-size: 20px;
}

.btn {
  top: 50%;
  background-color: #0a0a23;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px;
  min-height: 20px;
  min-width: 100px;
}
